@model EntityLayer.DTOs.CustomerCardDTO

@{
    ViewBag.Title = "Müşteri Kartı";
    Layout = "_Layout";
}
@section Styles{
    <link href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />
   
   
}
@section Scripts{

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <script src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>

    <script>
            $(document).ready(function () {
                $('#CustomerDataTable').DataTable();
            });
            $(document).ready(function () {
                                 $('#customerServiceDataTable').DataTable();
                             });
            $(document).ready(function () {
                                             $('#CustomerEmployeeDataTable').DataTable();
                                         });
             $(document).ready(function () {
                        $('#employeePaymentList').DataTable();
                    });
             $(document).ready(function () {
                        $('#employeeListReportDataTable').DataTable();
                    });
        </script>


    <script>
     $(function () {
         var PlaceHolderElement = $('#PlaceHolderHere');
         $('button[data-toggle="ajax-modal"]').click(function (event)
         {
            var url = $(this).data('url');
            $.get(url).done(function (data) {
               PlaceHolderElement.html(data);
               PlaceHolderElement.find('.modal').modal('show');
                }
                )
                
         })
         PlaceHolderElement.on('click', '[data-save="modal"]', function (event) {
             var form = $(this).parents('.modal').find('form');
             var actionUrl = form.attr('action');
             var sendData = form.serialize();
             $.post(actionUrl,sendData).done(function(data){
             PlaceHolderElement.find('.modal').modal('hide');    
             })
         })
     })
    </script>

}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Müşteri Kartı</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin/">Admin</a></li>
                    <li class="breadcrumb-item active">CustomerCard</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section>
    <div id="accordion" style="margin: 20px;">
        <div class="card shadow mt-5">
                    <div class="card-header bg-info">
                        <a href="#collapseCompanyCreate" class="card-link p-1">
                            Müşteri Bilgileri
                        </a>
                    </div>
            <div id="collapseCompanyCreate">
                <div class="card-body shadow">
                    <div class="form-group">
                        <label asp-for="CustomerID">Müşteri ID</label>
                        <input asp-for="CustomerID" class="form-control" readonly/>
                        <span asp-validation-for="CustomerID"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CustomerName">Müşteri İsmi</label>
                        <input asp-for="CustomerName" class="form-control" readonly/>
                        <span asp-validation-for="CustomerName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CustomerMail">Müşteri Maili</label>
                        <input asp-for="CustomerMail" class="form-control" readonly/>
                        <span asp-validation-for="CustomerMail"></span>
                    </div>

                </div>
            </div>
            </div>
    </div>
</section>



<section>
    <div id="accordion" style="margin: 20px;">
        <div class="card shadow mt-5">
            <div class="card-header bg-info">
                <a href="#collapseCompanyList" class="card-link p-1" data-toggle="collapse">
                    Müşterinin Satın Aldığı Hizmetler
                </a>
                 <a href="@Url.Action("CustomerDefineServices", "Admin", new {CustomerID = Model.CustomerID})" class="btn pull-right bg-gradient-warning">Hizmet Tanımla</a>
                                   
            </div>
            <div id="collapseCompanyList" class="collapse show">
                <div class="card-body">
                    <div class="row table-responsive-sm">
                        <div class="col-md-12 ">
                            <table id="CustomerDataTable" class="display" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Hizmet ID</th>
                                    <th>Hizmet Adı</th>
                                    <th>Hizmet Açıklaması</th>
                                    <th>Satın Alma Tarihi</th>
                                    <th>Bitiş Tarihi</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model.CustomerDefinedServiceList)
                                {
                                    <tr>
                                        <td>@item.ServiceId</td>
                                        <td>@item.ServiceName</td>
                                        <td>@item.ServiceDescription</td>
                                        <td>@item.ServiceStartDate.ToString("MM/dd/yyyy")</td>
                                          
                                        <td>@item.ServiceStartDate.ToString("MM/dd/yyyy")</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div id="accordion" style="margin: 20px;">
        <div class="card shadow mt-5">
            <div class="card-header bg-info">
                <a href="#collapseCompanyList" class="card-link p-1" data-toggle="collapse">
                    Müşteri Ödeme Geçmişi
                </a>
            </div>
            <div id="collapseCompanyList" class="collapse show">
                <div class="card-body">
                    <div class="row table-responsive-sm">
                        <div class="col-md-12 ">
                            <table id="employeePaymentList" class="display" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Ödeme Tarihi</th>
                                    <th>Ödeme Tutarı</th>
                                </tr>
                                </thead>
                                <tbody>
                       @foreach (var item in Model.PaymentHistoryList)
                                                           {
                                <tr>
                                        <td>@item.PaymentDate</td>
                                        <td>@item.PaymentPrice ₺</td>
                                </tr>
                                                               
                                                           }
                       
                                </tbody>
                            </table>
                            <label>Toplam Ödeme Tutarı: @Model.PaymentPriceSum ₺</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div id="accordion" style="margin: 20px;">
        <div class="card shadow mt-5">
            <div class="card-header bg-info">
                <a href="#collapseCompanyList" class="card-link p-1" data-toggle="collapse">
                    Müşteriyle İlgilenen Personeller
                </a>
                <a href="@Url.Action("DefineCustomerEmployee", "Admin", new {CustomerID = Model.CustomerID})" class="btn pull-right bg-success">Personel Tanımla</a>
                    
            </div>
            <div id="collapseCompanyList" class="collapse show">
                <div class="card-body">
                    <div class="row table-responsive-sm">
                        <div class="col-md-12 ">
                            <table id="CustomerEmployeeDataTable" class="display" style="width:100%">
                                <thead>
                                <tr>
                                       
                                    <th>Personel Adı</th>
                                    <th>Personel Rolü</th>
                                    <th>Ayarlar</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model.CustomerEmployeeList)
                                {
                                    <tr>
                                        <td>@item.EmployeeName</td>
                                        <td>@item.EmployeeRole</td>
                                        <td><a href="@Url.Action("DeleteCustomerEmployee","Admin",new {CustomerEmployeeID = item.CustomerEmployeeID})" class="btn btn-warning btn-sm"><i class="fas fa-trash"></i></a></td>
                                                    
                                    </tr>
                                }
                                       
                                    
                                </tbody>
                            </table>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
<div id="accordion" style="margin: 20px;">
<div class="card shadow mt-5">
    <div class="card-header bg-info">
        <a href="#collapseCompanyList" class="card-link p-1" data-toggle="collapse">
            Müşteri Raporları
        </a>
    </div>
    <div id="collapseCompanyList" class="collapse show">
        <div class="card-body">
            <div class="row table-responsive-sm">
                <div class="col-md-12 ">
                    <table id="employeeListReportDataTable" class="display" style="width:100%">
                        <thead>
                        <tr>
                            
                            <th>Müşteri Adı</th>
                            <th>Ürün Adı</th>
                            <th>Ürün Açıklaması</th>
                            <th>Ürün İçeriği</th>
                            <th>Ürün Gönderilme Tarihi</th>
                            <th>Rapor Adı</th>
                            <th>Raporu Ayarları</th>
                        </tr>
                        </thead>
                        <tbody>
                        
                        @foreach (var item in Model.ReportList)
                        {
                            <tr>

                                <td>@item.CustomerName</td>
                                <td>@item.ProductTitle</td>
                                <td>@item.ProductDescription</td>
                                <td>@item.ProductContent</td>
                                <td>@item.ProductDate</td>
                                <td>@item.ReportName</td>
                                <td><a href="~/@item.ReportPath" download class="btn btn-success btn-sm"><span class="badge bg-success">Raporu İndir</span></a>
                                   </td>                                                          											



                            </tr>
                        }




                        </tbody>
                    </table>
                            
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>
