@model dynamic

@{
    ViewBag.Title = "Müşteri Hizmet Planla";
    Layout = "_Layout";
}

@section Styles{
    <link href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />
   
   
}
@section Scripts{
    
     <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
     <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
     <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
     <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
     <script src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
         <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>

     <script>
            $(document).ready(function () {
                $('#CustomerDataTable').DataTable();
            });
            $(document).ready(function () {
                                 $('#customerServiceDataTable').DataTable();
                             });
        </script>
     
   
    <script>
     $(function () {
         var PlaceHolderElement = $('#PlaceHolderHere');
         $('button[data-toggle="ajax-modal"]').click(function (event)
         {
            var url = $(this).data('url');
            $.get(url).done(function (data) {
               PlaceHolderElement.html(data);
               PlaceHolderElement.find('.modal').modal('show');
                }
                )
                
         })
         PlaceHolderElement.on('click', '[data-save="modal"]', function (event) {
             var form = $(this).parents('.modal').find('form');
             var actionUrl = form.attr('action');
             var sendData = form.serialize();
             $.post(actionUrl,sendData).done(function(data){
             PlaceHolderElement.find('.modal').modal('hide');    
             })
         })
     })
    </script>
  <script>
  $(function() {
    $('input[name="DateRange"]').daterangepicker({
      singleDatePicker: true,
      showDropdowns: true,
      locale: {
            format: 'DD/MM/YYYY'
          }
    }, );
  });
  </script>
   
    
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Müşteri Hizmet Planla</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Designer/">Designer</a></li>
                    <li class="breadcrumb-item active">CustomerServicePlanning</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section>
    <div id="accordion" style="margin: 20px;">
        <div class="card shadow mt-5">
            <div class="card-header bg-dark">
                <a href="#collapseCompanyList" class="card-link p-1" data-toggle="collapse">
                    Müşteri Listesi
                </a>
            </div>
            <div id="collapseCompanyList" class="collapse show">
                <div class="card-body">
                    <div class="row table-responsive-sm">
                        <div class="col-md-12 ">
                            <table id="CustomerDataTable" class="display" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Müşteri ID</th>
                                    <th>Müşteri Adı</th>
                                    <th>Müşteri Maili</th>
                                    <th>Müşterinin Hizmetleri</th>
                                    <th>Hizmet Planlaması Yap</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.CustomerID</td>
                                        <td>@item.CustomerName</td>
                                        @if (item.ServiceNames != "")
                                        {
                                            <td>@item.ServiceNames</td>
                                        }
                                        else
                                        {
                                            <td class="bg-warning">Müşteriye bir hizmet tanımlanmamıştır</td>
                                        }
                                            
                                        <td>@item.CustomerMail</td>
                                        <td>
    
                                           @if (item.ServiceNames != "")
                                                                                                                               {
                                                                                                                                   <a href="@Url.Action("CustomerServicePlanningDates","Designer",new {CustomerID = item.CustomerID})" onClick=setCustomerID(@item.CustomerID); class="btn btn-warning btn-sm" style="float: right;">Hizmet Planla</a>
                                                                                                                               }
                                                                                                                               else
                                                                                                                               {
                                                                                                                                   <a href="#"  class="btn btn-danger btn-sm" style="float: right; pointer-events: none; cursor: default;">Müşteriye bir hizmet tanımlanmamıştır</a>
                                                                                                                               } 
                                           </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
function setCustomerID(id) {
           @ViewBag.CustomerIDForEvent = id;
        }
</script>
    



  