@model EntityLayer.DTOs.CustomerDetailsDTO

@{
    ViewBag.Title = "Ürün Detayları";
    Layout = "_Layout";
}

@using FileInfo = System.IO.FileInfo;


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Ürün Detayları</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Ops/">Ops</a></li>
                    <li class="breadcrumb-item active">CustomerProductsDetail</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section>


	<div class="card" style="margin:20px;">
				
				
		<div class="py-2 px-4 border-bottom d-none d-lg-block">
			<div class="d-flex align-items-center py-1">
				<div class="flex-grow-1 pl-3">
					@foreach (var item in Model.CustomerProductsList)
					{
						<strong>Ürün Başlığı: @item.ProductsTitle</strong>
						<div class="text-muted small"><em>Personel Ops</em></div>
					}
								
				</div>
				<div>
				<div class="card-tools">
                                                                                                                            <div class="btn-group show">
                                                                                                                              <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                                                                                                                Talep Ayarları
                                                                                                                                <i class="fas fa-wrench"></i>
                                                                                                                              </button>
                                                                                        	                                    <div class="dropdown-menu dropdown-menu-right" role="menu" style="">
                                                                                        		                                    <a href="@Url.Action("CloseDemand", "Ops", new {CustomerProductsID = Model.CustomerProductsList[0].ProductID})" class="dropdown-item">Talebi Kapat</a>
                                                                                        											                                              </div>
                                                                                                                            </div>
                                                                                                                            </div>
					</div>
			</div>
		</div>

		<div class="position-relative">
			<div class="chat-messages p-4" style="height: 600px; overflow-y: scroll; padding: 15px;">
				@foreach (var item in Model.CustomerProductsList)
				{
					<div class="chat-message-right pb-4">
						<div>
							<img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
							<div class="text-muted small text-nowrap mt-2">@(((DateTime) item.ProductCreateTime).ToString("dd.MM.yyyy HH:mm"))</div>
						</div>
						<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3" style="max-width:600px;">
							<div class="font-weight-bold mb-1">@item.ProductstCreatorName</div>
							@{
								FileInfo fi = new FileInfo(@item.ProductsFilePath);
								string fileExtension = fi.Extension;
								
							}
							
							@if (fileExtension == ".jpeg" || fileExtension == ".jpg" || fileExtension == ".gif" || fileExtension == ".tiff" || fileExtension == ".png" || fileExtension == ".PNG")
							{
								<a href="~/CustomerProductsFile/@item.ProductsFilePath" target="_blank">
									<img src="~/CustomerProductsFile/@item.ProductsFilePath" class="img-fluid" alt="@item.ProductsFilePath">
									<p><small>@item.ProductsTitle+-Revize-Raporu.v1</small></p>
								</a>
							}
							@if (fileExtension == ".docx" || fileExtension == ".doc" || fileExtension == ".pdf" || fileExtension == ".xls" || fileExtension == ".xlsx" || fileExtension == ".ppt" || fileExtension == ".pptx" || fileExtension == ".txt")
							{
								 <a href="~/CustomerProductsFile/@item.ProductsFilePath" download><span class="badge bg-danger">Raporu İndir</span></a>
							}
							
							<div class="font-weight-normal mb-1">@item.ProductstContent</div>
										
						</div>
					</div>
				}
							
				@if (Model.CustomerRevisedRequest != null)
				{
					<div class="chat-message-left pb-4">
						<div>
							<img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
							<div class="text-muted small text-nowrap mt-2">@(((DateTime) Model.CustomerRevisedRequest.DemandDate).ToString("dd.MM.yyyy HH:mm"))</div>
						</div>
						<div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
							<div class="font-weight-bold mb-1">@Model.CustomerRevisedRequest.CreatorName</div>
							@Model.CustomerRevisedRequest.DemandContent
						</div>
					</div>
				}
				@if (Model.DemandAnswersList != null)
				{
					@foreach (var item in Model.DemandAnswersList)
					{
						if (item.AnswerType == 0)
						{
							<div class="chat-message-right pb-4">
								<div>
									<img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
									<div class="text-muted small text-nowrap mt-2">@(((DateTime) item.DemandAnswerDate).ToString("dd.MM.yyyy HH:mm"))</div>
								</div>
								<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3" style="max-width:600px;">
									<div class="font-weight-bold mb-1">@item.ReceiverName</div>
									
									@if (item.FilePath != null)
									{
										FileInfo file = new FileInfo(@item.FilePath);
										string fileExt = file.Extension;
										if (fileExt == ".jpeg" || fileExt == ".jpg" || fileExt == ".gif" || fileExt == ".tiff" || fileExt == ".png" || fileExt == ".PNG")
										{
											<a href="~/DemandFiles/@item.FilePath" target="_blank">
												<img src="~/DemandFiles/@item.FilePath" class="img-fluid" alt="@item.FilePath">
											</a>
											<p><small>@item.FileName</small></p>
										}
										if (fileExt == ".docx" || fileExt == ".doc" || fileExt == ".pdf" || fileExt == ".xls" || fileExt == ".xlsx" || fileExt == ".ppt" || fileExt == ".pptx" || fileExt == ".txt")
										{
											<a href="~/DemandFiles/@item.FilePath" download><span class="badge bg-danger">Raporu İndir</span></a>
											<p><small>@item.FileName</small></p>
										}
										
									}
									<div class="font-weight-normal mb-1">@item.Message</div>
										
								</div>
							</div>
						}
						else
						{
							<div class="chat-message-left pb-4">
								<div>
									<img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
									<div class="text-muted small text-nowrap mt-2">@(((DateTime) item.DemandAnswerDate).ToString("dd.MM.yyyy HH:mm"))</div>
								</div>
								<div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
									<div class="font-weight-bold mb-1">@item.ReceiverName</div>
									@item.Message 
								</div>
							</div>
						}
					}
				}
				
							
			</div>
		</div>

		@if (Model.DemandAnswersList != null)
		{
			<form asp-controller="Ops" asp-action="CustomerProductsDetail" enctype="multipart/form-data" method="post">
				<div class="flex-grow-0 py-3 px-4 border-top">
					<div class="input-group">
						<div class="image-upload">
							<label for="RevisedFile">
								<i class="fas fa-paperclip" style="height: 35px;
                                                                               position: absolute;
                                                                               right: 0;
                                                                               top: 8px;
                                                                               
                                                                               margin-right:80px;
                                                                               z-index: 999;"></i>
							</label>
							<input type="file" name="RevisedFile" id="RevisedFile" asp-for="RevisedFile"/>
						</div>
						<input type="hidden" value="@Model.CustomerProductsList[0].ProductID" asp-for="@Model.CustomerProductsList[0].ProductID"/>
						<input type="text" class="form-control" asp-for="DemandAnswer" placeholder="Cevap Yaz">
						<button class="btn btn-primary" type="submit">Gönder</button>

					</div>

				</div>
			</form>
		}

	</div>

	
</section>

<section>
	  <br />
    
	  @if (Model.DemandFileList != null)
	  {
		  <div class="card-body">
			  <div class="card-header">
                         
				  <h3 class="card-title">Dosyalar</h3>
                       
			  </div>
			  <table class="table table-bordered">
				  <thead>
				  <tr>
					  <th>Dosya Adı</th>
					  <th>Dosya Gönderilme Tarihi</th>
					  <th>Dosyayı İndir</th>
				  </tr>
				  </thead>
				  <tbody>
                        
				  @foreach(var item in Model.DemandFileList)
				  {
					  @if (item.FilePath != null)
					  {
						  <tr>
							  <td>@item.FileName</td>
							  <td>@(((DateTime) item.FileDate).ToString("dd.MM.yyyy HH:mm"))</td>
							  <td>
								  <a href="~/DemandFiles/@item.FilePath" download><span class="badge bg-danger">Dosyayı İndir</span></a>
                                  
							  </td>
						  </tr>
					  }
					  
                        
				  }
				  </tbody>
			  </table>
		  </div>
	  }
	  
	  
</section>
<script>
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
}
</script>


<style>
	
  .image-upload > input
  {
      display: none;
  }
  
  .image-upload img
  {
      width: 25px;
      
      border: medium none;
            border-radius: 50%;
            color: #fff;
            cursor: pointer;
            font-size: 17px;
            height: 35px;
            position: absolute;
            right: 0;
            top: 4px;
            
            margin-right:80px;
            z-index: 999;
  }


    .chat-online {
        color: #34ce57
    }
    
    
    .chat-offline {
        color: #e4606d
    }
   
    
    .chat-messages {
        display: flex;
        flex-direction: column;
        max-height: 800px;
        overflow-y: scroll
    }
    
    .msg_send_btn {
      background: #05728f none repeat scroll 0 0;
      border: medium none;
      border-radius: 50%;
      color: #fff;
      cursor: pointer;
      font-size: 17px;
      height: 33px;
      position: absolute;
      right: 0;
      top: 11px;
      width: 33px;
      margin-right:80px;
      z-index: 999;
    }
    
   
    
    .chat-message-left,
    .chat-message-right {
        display: flex;
        flex-shrink: 0
    }
    
    .chat-message-left {
        margin-right: auto
    }
    
    .chat-message-right {
        flex-direction: row-reverse;
        margin-left: auto
    }
    .py-3 {
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
    }
    .px-4 {
        padding-right: 1.5rem!important;
        padding-left: 1.5rem!important;
    }
    .flex-grow-0 {
        flex-grow: 0!important;
    }
    .border-top {
        border-top: 1px solid #dee2e6!important;
    }
</style>