@model List<EntityLayer.Concrete.Announcement>

<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
        <i class="far fa-comments"></i>
        <span class="badge badge-danger navbar-badge">@Model.Count</span>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
        @foreach (var item in Model.Take(5))
        {
            <a href="#" class="dropdown-item">
                <div class="media">
                    <i class="fas fa-megaphone"></i>
                    <div class="media-body">
                        <h3 class="dropdown-item-title">
                            @item.Header
                            <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                        </h3>
                        @if (item.Content.Length > 50)
                        {
                            <p class="text-sm">@item.Content.Substring(50) ...</p>
                        }
                        else
                        {
                            <p class="text-sm">@item.Content</p>
                        }
                       
                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i>@item.Date</p>
                    </div>
                </div>

            </a>
            <div class="dropdown-divider"></div>
        }
        <a href="/Home/SeeAllAnnouncements" class="dropdown-item dropdown-footer">Bütün Duyuruları Gör</a>
    </div>
</li>