@model EntityLayer.DTOs.AccountExtractDTO

@{
    ViewBag.Title = "Hesap Özeti";
    Layout = "_Layout";
}
@section Styles{
    <link href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />
}

@section Scripts{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <script src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>

    <script>
            $(document).ready(function () {
                $('#CustomerDataTable').DataTable();
            });
            $(document).ready(function () {
                                 $('#customerServiceDataTable').DataTable();
                             });
            $(document).ready(function () {
                                             $('#CustomerEmployeeDataTable').DataTable();
                                         });
             $(document).ready(function () {
                        $('#employeePaymentList').DataTable();
                    });
        </script>
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Hesap Özeti</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Customer/">Customer</a></li>
                    <li class="breadcrumb-item active">AccountExtract</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<section>
    <div id="accordion" style="margin: 20px;">
        <div class="card shadow mt-5">
            <div class="card-header bg-dark">
                <a href="#collapseCompanyList" class="card-link p-1" data-toggle="collapse">
                    Satın Aldığım Hizmetler
                </a>
            </div>
            <div id="collapseCompanyList" class="collapse show">
                <div class="card-body">
                    <div class="row table-responsive-sm">
                        <div class="col-md-12 ">
                            <table id="CustomerDataTable" class="display" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Hizmet ID</th>
                                    <th>Hizmet Adı</th>
                                    <th>Hizmet Açıklaması</th>
                                    <th>Satın Alma Tarihi</th>
                                    <th>Bitiş Tarihi</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model.CustomerServiceList)
                                {
                                    <tr>
                                        <td>@item.ServiceId</td>
                                        <td>@item.ServiceName</td>
                                        <td>@item.ServiceDescription</td>
                                        <td>@item.ServiceStartDate.ToString("MM/dd/yyyy")</td>
                                          
                                        <td>@item.ServiceStartDate.ToString("MM/dd/yyyy")</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div id="accordion" style="margin: 20px;">
        <div class="card shadow mt-5">
            <div class="card-header bg-dark">
                <a href="#collapseCompanyList" class="card-link p-1" data-toggle="collapse">
                    Ödeme Geçmişim
                </a>
            </div>
            <div id="collapseCompanyList" class="collapse show">
                <div class="card-body">
                    <div class="row table-responsive-sm">
                        <div class="col-md-12 ">
                            <table id="employeePaymentList" class="display" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Ödeme Tarihi</th>
                                    <th>Ödeme Tutarı</th>
                                </tr>
                                </thead>
                                <tbody>
                       @foreach (var item in Model.CustomerPaymentHistory)
                                                           {
                                <tr>
                                        <td>@item.PaymentDate</td>
                                        <td>@item.PaymentPrice ₺</td>
                                </tr>
                                                               
                                                           }
                       
                                </tbody>
                            </table>
                            <label>Toplam Ödeme Tutarı: @Model.PaymentPriceSum ₺</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
        <div id="accordion" style="margin: 20px;">
            <div class="card shadow mt-5">
                <div class="card-header bg-dark">
                    <a href="#collapseCompanyList" class="card-link p-1" data-toggle="collapse">
                       İlgilenen Personeller
                    </a>
                     
                </div>
                <div id="collapseCompanyList" class="collapse show">
                    <div class="card-body">
                        <div class="row table-responsive-sm">
                            <div class="col-md-12 ">
                                <table id="CustomerEmployeeDataTable" class="display" style="width:100%">
                                    <thead>
                                    <tr>
                                       
                                        <th>Personel Adı</th>
                                        <th>Personel Rolü</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                            @foreach (var item in Model.CustomerEmployeeList)
                                            {
                                                <tr>
                                                    <td>@item.EmployeeName</td>
                                                    <td>@item.EmployeeRole</td>
                                                    
                                                </tr>
                                            }
                                       
                                    
                                    </tbody>
                                </table>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
